<section id="depositar" class="secao">
    <h2>Depositar Valor</h2>
    <form (ngSubmit)="depositar()">
        <div>
            <label for="numeroConta">Número da Conta:</label>
            <input type="number" placeholder="Número da Conta" required [(ngModel)]="numeroConta" name="numeroConta">

        </div>
        <div>
            <label for="numeroConta">Valor do Depósito:</label>
            <input type="number" placeholder="Valor do Depósito" required [(ngModel)]="valor" name="valor">
        </div>
        <button type="submit">Depositar</button>

    </form>
    <div *ngIf="mensagem">{{ mensagem }}</div>
</section>